PORT=4000

# Connexion Neon : récupère la "Connection string" depuis la console Neon
# (Dashboard > ton projet > Connection Details > Pooled connection recommandée)
# Elle ressemble à ça :
DATABASE_URL="postgresql://user:password@ep-xxxx-pooler.region.aws.neon.tech/fotor?sslmode=require"
